.fadein
  animation-duration: 1s
  animation-delay: 0.5s
  animation-fill-mode: forwards
  animation-name: fadein
  transform: translateZ(0)

@keyframes fadein
  from
    opacity: 0

  to
    opacity: 1
