@import 'vital/sprockets'
@import 'vital/all'
@import 'colors'
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Oxygen:400,700&subset=latin-ext)

body
  font-family: 'Lato', sans-serif
  font-size: 110%
  -webkit-font-smoothing: antialiased
  background: $black
  color: $white

  h1, h2, h3
    font-family: 'Oxygen', sans-serif

  a
    color: $green
    opacity: 0.9
    &:hover
      opacity: 1
      color: $green

  blockquote
    border-color: $green
    text-align: left

  strong
    font-weight: 700

  img
    width: 100%
    max-width: 100%
    float: left
    border-radius: 0

  .header,
  .header nav ul li,
  .header nav ul li a,
  .header nav a:hover,
  .header .logo,
  .header .logo:hover i,
  #menu-toggle,
  #menu-toggle:checked,
  #menu-toggle:checked:before,
  #menu-toggle:hover
    color: $green
    background: $black

  .section.narrow
    max-width: 34em
    padding: 1em

  .contents
    background: $black
    .row
      border-bottom: 2px dashed $green
      .section
        padding: 3em 1em
      .see_more
        padding-bottom: 2em
        padding-top: 2em
      &.no_border
        border: none
    .hero
      background: $green
      background: linear-gradient(to bottom right, #5AD427, #A4E786)
      // background: linear-gradient(to bottom right, #87FC70, #0BD318)
      border: none
      img
        border-radius: 100%
        width: 100%
        max-width: 200px
        margin: 0 auto
        float: none
      h1
        font-weight: 400
      p, a
        color: $white
        font-weight: 700
      h2
        font-weight: 900
      hr
        background: $black

  .footer
    background: $black

  .video_wrap
    clear: both
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .skills span
    font-weight: 900
    color: $gray-light
    display: inline-block
    text-transform: uppercase
    margin-right: 3%

  .social_links a
    opacity: 0.7
    background: $green
    color: $black
    font-weight: 700
    font-size: 0.7em
    line-height: 1.2
    padding: 3px 5px
    margin-right: 10px
    margin-bottom: 10px
    &:hover
      color: $black
      opacity: 1

@media screen and (max-width: 860px)
  .header nav a
    border-top: 2px dashed $green
  .section.narrow
    max-width: none
